# Node
node_modules/
server/node_modules/
dist/
*.log

# Env files
.env
server/.env

# Firebase Admin keys
key.json
*.key.json

# Firebase local
.firebase/

# OS files
.DS_Store
Thumbs.db
server/.env
